<!DOCTYPE html>
<html lang="zh">
    <head>
        <title>qixqi排行榜</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', _external=True, filename='css/index.css') }}" />
    </head>
    <body>
        <h2>欢迎来到qixqi排行榜</h2>

        <div id="rank"></div>

        <div id="process">
            <img class="control" src="{{ url_for('static', _external=True, filename='img/refresh.png') }}" title="刷新" alt="刷新" /><br />
            <img class="control run" src="{{ url_for('static', _external=True, filename='img/start.png') }}" title="开始" alt="开始" /><br />
            <img class="control setting" src="{{ url_for('static', _external=True, filename='img/setting.png') }}" title="设置" alt="设置" />
        </div>

        <div id="setting">
            <label for="period" class="setting_content">刷新时长(秒)：</label><br />
            <input type="number" id="period" class="setting_input" name="period" placeholder="刷新时长(秒)" tabindex="1" /><br />
            <label for="maxItemNum" class="setting_content">展示最大条数：</label><br />
            <input type="number" id="maxItemNum" class="setting_input" name="maxItemNum" placeholder="展示最大条数" tabindex="2" /><br />
            <input type="button" name="cancel" value="取消" id="cancel" class="setting_button" tabindex="3" />
            <input type="button" name="confirm" value="确定" id="confirm" class="setting_button" tabindex="4" />
        </div>

        <script type="text/javascript" src="{{ url_for('static', _external=True, filename='js/jquery-3.4.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', _external=True, filename='js/echarts.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', _external=True, filename='js/canvas-nest.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', _external=True, filename='js/index.js') }}"></script>
    </body>
</html>