body{
    background-image: url('../img/body.jpg');
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    /* background-color: rgba(0, 0, 0, 0.1); */
    /* opacity: 0.1; */     /* 也会修改所有子元素的透明度，相当不灵活 */
}



#rank{
    width: 90%;
    height: 650px;
    display: block;
    position: absolute;
    /* opacity: 0.1; */
    /* background-color: yellowgreen; */
}


#process{
    width: 100px;
    height: 600px;
    display: block;
    position: relative;
    float: right;
    margin-right: 20px;
    /* opacity: 0.1; */
    /* background-color: blueviolet; */
}


.control{
    width: 80px;
    height: 80px;
    display: block;
    cursor: pointer;
}

.setting{
    margin-top: 50px;
    /* background-color: yellow; */
}


#setting{
    width: 450px;
    height: 250px;
    margin: 0 auto;     /* 在父元素内水平居中 */
    padding-top: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);       /* 有逼格的CSS3变形，有兼容问题 */
    display: block;
    position: absolute;
    text-align: center;
    z-index: 2;
    visibility: hidden;
    /* opacity: 1.0; */
    /* background-color: aqua; */
}


.setting_content{
    float: left;
    margin-left: 125px;
}



.setting_input{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 200px;
    height: 26px;
    padding-left: 10px;
    font-size: 14px;
    border: solid 1px rgb(206, 213, 218);
    border-radius: 3px;
}

.setting_button{
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .2);
    border-radius: 3px;
    width: 80px;
    height: 30px;
}


#cancel{
    margin-right: 20px;
}


.run{
    margin-top: 50px;
    /* background-color: yellow; */
    /* margin-left: 10px; */
}


.search{
    margin-top: 50px;
    margin-left: 5px;
}



#search{
    width: 450px;
    height: 150px;
    margin: 0 auto;
    padding-top: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    position: absolute;
    text-align: center;
    z-index: 2;
    visibility: hidden;
    /* background-color: aqua; */
}


.search_input{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 200px;
    height: 26px;
    padding-left: 10px;
    font-size: 14px;
    border: solid 1px rgb(206, 213, 218);
    border-radius: 3px;
}


.search_button{
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .2);
    border-radius: 3px;
    width: 80px;
    height: 30px;
}

#search_cancel{
    margin-right: 20px;
}