body{
    background-image: url('../img/body.jpg');
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}


#rank{
    width: 90%;
    height: 650px;
    display: block;
    position: absolute;
    /* background-color: yellowgreen; */
}


#process{
    width: 100px;
    height: 600px;
    display: block;
    position: relative;
    float: right;
    margin-right: 20px;
    /* background-color: blueviolet; */
}


.control{
    width: 80px;
    height: 80px;
    display: block;
    cursor: pointer;
}

.setting{
    margin-top: 50px;
    /* background-color: yellow; */
}